/* App.css */

.form-row {
    margin-bottom: 16px;
    display: flex;
    gap: 16px;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  .form-check {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  
  .form-button {
    width: 100%;
    padding: 8px;
  }
  